$header-font-size: 1.5rem;

$color-mode-type: media-query;
$navbar-dark-color: white;
$navbar-padding-y: 0;
$navbar-brand-font-size: $header-font-size;

@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~datatables.net-bs5/css/dataTables.bootstrap5.css";

@import "dropdown-submenu";

@import "sidebar";
@import "all-meals";
@import "week-view";
@import "week-edit";
@import "autocomplete";
@import "floating-buttons";

:root {
    @media (prefers-color-scheme: light) {
        --table-header-bg-color: #{$gray-500};
        --week-edit-meal-button-hover-bg-color: rgba(0, 0, 0, 0.1);
        --dropdown-bg: #dfdfdf;
    }

    @media (prefers-color-scheme: dark) {
        --table-header-bg-color: #{$gray-800};
        --week-edit-meal-button-hover-bg-color: rgba(255, 255, 255, 0.1);
        --dropdown-bg: #313539;
    }
}

main {
    padding-top: 3rem;
}

.navbar-nav {
    font-size: $header-font-size;
}

.table thead {
    background-color: var(--table-header-bg-color);
}

.table tr.active {
    background-color: rgba($blue, 0.1);
}

.navbar-nav .dropdown-menu {
    margin-top: 8px;
}

.dropdown-menu {
    background-color: var(--dropdown-bg);
}

.dropdown-menu > li:hover > :is(a, button) {
    background-color: var(--bs-primary);
    color: white;
}

.toast-container {
    position: fixed;
    bottom: 124px;
    right: 32px;
}

.dropdown-item:not(:hover) > .autocomplete-highlight {
    color: var(--bs-primary);
}

@media screen and (max-width: 575px) {
    .navbar-brand {
        margin: 0;
    }
}

@media screen and (max-width: 991px) {
    .container {
        padding: 0;
    }
}

@media print {
    @import "print.scss";
}