$header-font-size: 1.5rem;

$color-mode-type: media-query;
$navbar-dark-color: white;
$navbar-padding-y: 0;
$navbar-brand-font-size: $header-font-size;

@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

main {
    padding-top: 3rem;
}

#space-dropdown {
    font-size: $header-font-size;
}

#week-current-date-container {
    position: relative;
    font-size: $header-font-size;
    color: white;
}

#week-date-selection {
    position: absolute;
    left: 0;
    margin: 0 auto;
    visibility: hidden;
}

.week-meal-type, .week-day {
    font-size: 1.5rem;
}

.week-edit-meal > input {
    border: none;
}

.week-edit-meal > button:hover {
    @media (prefers-color-scheme: light) {
        background-color: rgba(#000, 0.1);
    }

    @media (prefers-color-scheme: dark) {
        background-color: rgba(#fff, 0.1);
    }
}

.week-edit-meal-button-link .active {
    color: $blue;
}

.week-edit-meal-button-notification .active {
    color: orange;
}

.meal-notification {
    color: orange;
}

.table thead {
    @media (prefers-color-scheme: light) {
        background-color: $gray-500;
    }

    @media (prefers-color-scheme: dark) {
        background-color: $gray-800;
    }
}

.table tr.active {
    background-color: rgba($blue, 0.1);
}

#week-table th, #week-table td {
    padding: 1.5rem;
}

.week-day-date {
    font-size: 12px;
}

.navbar-nav .dropdown-menu {
    margin-top: 8px;
}

.toast-container {
    position: fixed;
    bottom: 124px;
    right: 32px;
}

.floating-button-container {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.floating-button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    border-radius: 50%;
    font-size: 16px;
    transition: font-size 500ms;
}

.floating-button:hover {
    font-size: 26px;
}

@media print {
    @import "print.scss";
}