$header-font-size: 1.5rem;

$color-mode-type: media-query;
$navbar-dark-color: white;
$navbar-padding-y: 0;
$navbar-brand-font-size: $header-font-size;

@import "~bootstrap/scss/bootstrap";

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import "~datatables.net-bs5/css/dataTables.bootstrap5.css";

@import "dropdown-submenu";

@import "sidebar";

:root {
    @media (prefers-color-scheme: light) {
        --table-header-bg-color: #{$gray-500};
        --week-edit-meal-button-hover-bg-color: rgba(0, 0, 0, 0.1);
        --dropdown-bg: #dfdfdf;
    }

    @media (prefers-color-scheme: dark) {
        --table-header-bg-color: #{$gray-800};
        --week-edit-meal-button-hover-bg-color: rgba(255, 255, 255, 0.1);
        --dropdown-bg: #313539;
    }
}

main {
    padding-top: 3rem;
}

.navbar-nav {
    font-size: $header-font-size;
}

#week-current-date-container {
    position: relative;
    font-size: $header-font-size;
    color: white;
}

#week-date-selection {
    position: absolute;
    left: 0;
    margin: 0 auto;
    visibility: hidden;
}

.week-meal-type, .week-day {
    font-size: 1.5rem;
}

.week-edit-meal {
    background-color: var(--bs-body-bg);
}

.week-edit-meal > input {
    border: none;
}

.week-edit-meal > button:hover {
    background-color: var(--week-edit-meal-button-hover-bg-color);
}

.week-edit-meal-button-link .active {
    color: $blue;
}

.week-edit-meal-button-notification .active {
    color: orange;
}

.meal-notification {
    color: orange;
}

.table thead {
    background-color: var(--table-header-bg-color);
}

.table tr.active {
    background-color: rgba($blue, 0.1);
}

#week-table th, #week-table td {
    padding: 1.5rem;
}

.week-day-date {
    font-size: 12px;
}

.navbar-nav .dropdown-menu {
    margin-top: 8px;
}

.dropdown-menu {
    background-color: var(--dropdown-bg);
}

.dropdown-menu > li > a:hover, .dropdown-menu > :hover {
    background-color: var(--bs-primary);
    color: white;
}

.dropdown-menu > li:hover > a {
    color: white !important;
}

.toast-container {
    position: fixed;
    bottom: 124px;
    right: 32px;
}

.floating-button-container {
    position: fixed;
    bottom: 32px;
    right: 32px;
}

.floating-button {
    width: 60px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    border-radius: 50%;
    font-size: 16px;
    transition: font-size 500ms;
}

.floating-button:hover {
    font-size: 26px;
}

.autocomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
}

.dropdown-item:not(:hover) > .autocomplete-highlight {
    color: var(--bs-primary);
}

.autocomplete-highlight {
    font-weight: bold;
}

.datatable-child-expanded {
    background-color: #313539 !important;
}

.datatable-child-expanded td:first-child {
    border-left: 5px solid $primary;
}

.highlight-meal {
    animation: highlight 3s ease-out;
    animation-iteration-count: 1;
}

#notes-sidebar-text {
    padding: 10px 40px;
    width: 100%;
    height: 100%;
    resize: none;
    background-color: transparent;
}

@keyframes highlight {
    0% {
        background-color: rgba($yellow, 0.5);
        color: $black;
    }
    50% {
        background-color: rgba($yellow, 0.5);
        color: $black;
    }
    100% {
        background-color: transparent;
        color: inherit;
    }
}

@media (max-width: 767px) {
    table * {
        display: block;
    }
    nav .navbar-brand > b,
    table thead {
        display: none;
    }
    #space-dropdown .nav-link {
        font-size: 0;
    }
    #space-dropdown .dropdown-toggle::after {
        font-size: var(--bs-nav-link-font-size);
        vertical-align: middle;
    }
    nav {
        letter-spacing: -1px;
    }
    nav * {
        padding-left: 0 !important;
        padding-right: 0 !important;
        font-size: 20px;
        vertical-align: middle;
    }
    .container {
        padding: 0;
    }
    main {
        padding: 0;
    }
    nav .container {
        padding-right: 10px !important;
        padding-left: 5px !important;
    }
}

@media print {
    @import "print.scss";
}