* {
    background-color: #fff !important;
    color: #000 !important;
    --bs-table-striped-bg: #fff !important;
    text-decoration: none !important;
}

.fa,
.btn,
.navbar-brand,
.navbar-nav {
    display: none;
}

main,
main .container {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
}

.nav-date-container {
    width: 100%;
}

table tr {
    border-bottom-width: 2px;
}