@use "sass:map";
@import "~bootstrap/scss/bootstrap";

:root {
    @media (prefers-color-scheme: light) {
        --sidebar-bg: #dfdfdf;
    }

    @media (prefers-color-scheme: dark) {
        --sidebar-bg: #313539;
    }

    --container-width: 0px;

    @each $key, $width in $grid-breakpoints {
        @if map.has-key($container-max-widths, $key) {
            @media (min-width: $width) {
                --container-width: #{map.get($container-max-widths, $key)};
            }
        }
    }
}

:root {
    --container-margin-width: calc((100vw - var(--container-width)) / 2);

    --sidebar-top: 130px;
    --sidebar-bottom: 130px;
    --sidebar-button-size: 60px;
    --sidebar-button-position: 36px;
    --sidebar-header-height: 30px;
    --sidebar-width: min(max(var(--container-margin-width), 500px), 100vw);
}

.sidebar {
    position: fixed;
    width: var(--sidebar-width);
    right: calc(-1 * var(--sidebar-width));
    top: var(--sidebar-top);
    bottom: var(--sidebar-bottom);
    z-index: 1050;
    background-color: var(--sidebar-bg);
    border: 5px solid var(--bs-primary);
    border-right: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: right 500ms;
}

.sidebar.show {
    right: 0;
}

.sidebar.show .sidebar-button {
    left: -30px;
    border-radius: 50%;
}

.sidebar-button i {
    position: relative;
}

.sidebar.show .sidebar-button i {
    transform: rotate(180deg);
}

.sidebar-button {
    position: absolute;
    top: calc(50% - (var(--sidebar-button-size) / 2));
    left: calc(-1 * var(--sidebar-button-position));
    width: var(--sidebar-button-size);
    height: var(--sidebar-button-size);
    line-height: var(--sidebar-button-size);
    padding: 0;
    z-index: 10;
    border-radius: 50% 0 0 50%;
    transition: left 500ms, border-radius 500ms;
}

.sidebar-button i {
    transition: transform 500ms;
}

.sidebar:not(.show) .sidebar-button:hover {
    left: calc(-1 * var(--sidebar-button-size));
}

.sidebar-header {
    background-color: var(--bs-primary);
    color: white;
    text-align: center;
    font-weight: bold;
    height: var(--sidebar-header-height);
}

.sidebar-content {
    position: absolute;
    top: var(--sidebar-header-height);
    left: 0;
    right: 0;
    bottom: 0;
}