<div class="modal fade" id="{{ id }}" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title fs-5">{{ title }}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                {% block body %}{% endblock %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary modal-button-ok">{% trans %}modal.ok{% endtrans %}</button>
                <button type="button" class="btn btn-secondary modal-button-cancel" data-bs-dismiss="modal">{% trans %}modal.cancel{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>